# Environment variables & secrets
.env
*.env

# Virtual Environment
venv/
env/
ENV/
.venv/

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
